.popup-img{
    width:200px;
    margin:10px;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;
}

.popup-img:hover{
    transform:scale(1.05);
}

/* FULLSCREEN BACKDROP */
#popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    display:none;
    justify-content:center;
    align-items:center;
}

/* IMAGE INSIDE POPUP */
#popup img{
    max-width:90%;
    max-height:90%;
    border-radius:15px;
}

body {
    background: linear-gradient(
        45deg,
        #ffd6e7,
        #ffc1d6,
        #ffe6f0
    );
    background-size: 300% 300%;
    animation: bgmove 8s infinite;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color: #ff4f87;
    text-shadow:
        0 0 10px #ff8ab5,
        0 0 20px #ff8ab5,
        0 0 30px #ff8ab5;
    text-align: center;
}

button {
    font-size: 28px;
    padding: 20px 40px;
    border-radius: 15px;
    background-color: #ffb6c1;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

p{
    font-size:40px;
}

img{
    border-radius:20px;
    margin:10px;
}

.photo{
    width:300px;
    padding:10px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.heart{
    position:fixed;
    top:-50px;
    font-size:25px;
    animation:fall 5s linear forwards;
}

@keyframes fall{
    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(110vh);
    }
}

#days{
    font-size:60px;
    color:#ff4f87;
    font-weight:bold;
}

audio{
    margin-top:40px;
    width:300px;
}

h1, h2, h3 {
  font-size: 80px;   /* change this as you like */
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@keyframes bgmove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.music-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #ffd6e7, #ffe6f0);
    }
