body{
    background:linear-gradient(
        45deg,
        #ffd6e7,
        #ffc1d6,
        #ffe6f0
    );

    background-size:300% 300%;
    animation:bgmove 8s infinite;
}

h1{
    color:#ff4f87;
    font-size:60px;
    text-shadow:
        0 0 10px #ff8ab5,
        0 0 20px #ff8ab5,
        0 0 30px #ff8ab5;
}
h1{
    font-family:'Dancing Script', cursive;
}

button{
    padding:20px;
    border:none;
    border-radius:25px;
    background:#ff4f87;
    color:white;
    font-size:24px;
    transition:0.3s;
}

button:hover{
    transform:scale(1.15);
}

p{
    font-size:30px;
}

img{
    border-radius:20px;
    margin:10px;
}

.photo{
    width:300px;
    padding:10px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}
.hearts{
    font-size:40px;
    animation: float 3s infinite alternate;
}

@keyframes float{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-20px);
    }
}

@keyframes bgmove{
    0%{
        background-position:0% 50%;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position:0% 50%;
    }
    }

#days{
    font-size:40px;
    color:#ff4f87;
    font-weight:bold;
}
